<!DOCTYPE html>
<html>
<body>
<style>
div{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.iclass{
    margin: 20px;
}
</style>
<div>


<iframe class="iclass" src="http://18.234.181.159:5000/chart/heartrate"  width="800" height="500"/>
</iframe>

<iframe class="iclass" src="http://18.234.181.159:5000/chart/oxygen"  width="800" height="500"/>
</iframe>


<iframe class="iclass" src="http://18.234.181.159:5000/chart/temperature"  width="1000" height="500"/>
</iframe>
</div>
</body>
</html>
